@model HW1c.Models.LogModel
@{
    ViewBag.Title = "Read";
}

<h2>Read</h2>

<div class="row">
    <div class="col-3 text-right">
        @Html.DisplayNameFor(m => m.EventType)
    </div>
    <div class="col">
        @Html.DisplayFor(m => m.EventType)
    </div>
</div>

<div class="row">
    <div class="col-3 text-right">
        @Html.DisplayNameFor(m => m.Value)
    </div>
    <div class="col">
        @Html.DisplayFor(m => m.Value)
    </div>
</div>

<div class="row">
    <div class="col-3 text-right">
        @Html.DisplayNameFor(m => m.PhoneID)
    </div>
    <div class="col">
        @Html.DisplayFor(m => m.PhoneID)
    </div>
</div>


<div class="row">
    <div class="col-3 text-right">
        @Html.DisplayNameFor(m => m.RecordedDateTime)
    </div>
    <div class="col">
        @Html.DisplayFor(m => m.RecordedDateTime)
    </div>
</div>

<br />
<div>
    @Html.ActionLink("Update", "Update", "Report", new { id = Model.ID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Delete", "Delete", "Report", new { id = Model.ID }, new { @class = "btn btn-danger" })
</div>