@model HW1c.Models.LogModel

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m=>m.RecordedDateTime)

    <div class="row">
        <div class="col-3 text-right">
            @Html.DisplayNameFor(m => m.EventType)
        </div>
        <div class="col">
            @Html.EditorFor(m => m.EventType)
        </div>
    </div>

    <div class="row">
        <div class="col-3 text-right">
            @Html.DisplayNameFor(m => m.Value)
        </div>
        <div class="col">
            @Html.EditorFor(m => m.Value)
        </div>
    </div>

    <div class="row">
        <div class="col-3 text-right">
            @Html.DisplayNameFor(m => m.PhoneID)
        </div>
        <div class="col">
            @Html.EditorFor(m => m.PhoneID)
        </div>
    </div>

    <br />
    <br />

    @Html.ActionLink("Cancel", "Index", "Report", new { @class = "btn btn-primary" })
    <input id="Submit" type="submit" value="Update" class="btn btn-danger" />
}
